# Game Analysis

## Analysis of in-app purchases of a game

* Analysis is done in python using the pandas library

* Includes summary of purchase information and demographic breakdown of users

* Insights included at conclusion

## Import pandas then load the "purchace_data.csv" file

In [7]:
# Import panda library
import pandas as pd

# File to Load
file_to_load = "purchase_data.csv"

# Read csv file of purchase data and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

# Display first 5 rows
# purchase_df.head()

## Player Count

* Total number of unique players

In [8]:
# total_players holds number of unique SN (screen names)
total_players = purchase_df["SN"].nunique()

# Convert to dataframe to display
players_df = pd.DataFrame({
    "Total Players": [total_players]
})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

### Displays a summary dataframe with the following calculations:

* Number of Unique Items

* Average Price	

* Number of Purchases

* Total Revenue

In [ ]:
# Confirm data types before analysis

# Step left in but commented out
# print(purchase_df.dtypes)

In [9]:
# Unique number of items
unique_items = purchase_df["Item ID"].nunique()

# Average price of items
average_price = purchase_df["Price"].mean()

# Total number of purchases
total_purchase = purchase_df["Purchase ID"].count()

# Total revenue
total_revenue = purchase_df["Price"].sum()

# Convert variables into a dataframe
totals_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [total_purchase],
    "Total Revenue": [total_revenue]
})

# Change formatting for financial columns
totals_df["Average Price"] = totals_df["Average Price"].map("${:,.2f}".format)
totals_df["Total Revenue"] = totals_df["Total Revenue"].map("${:,.2f}".format)

# Display results
totals_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

Summary: number of unique players and percentage of total by gender

In [10]:
# Group by gender
gender_df = purchase_df.groupby(["Gender"])

# Variable with unique players based on SN (screen name)
count_gender = gender_df["SN"].nunique()

# Variable with percentage of players
percent_gender = (gender_df["SN"].nunique() / count_gender.sum()) * 100

# New dataframe with summary variables and formatting
summary_gender_df = pd.DataFrame({
    "Total Count": count_gender,
    "Percentage of Players": percent_gender.map("{:.2f}%".format)
})

# Sort by decending values
summary_gender_df = summary_gender_df.sort_values(["Total Count"], ascending=False)

# Remove index name in the corner
summary_gender_df.index.name = None

# Display new dataframe
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [ ]:
purchase_df

Purchasing calculations aggregated by gender:
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Avg Total Purchase per Person

In [11]:
# Uses the gender_df created in previous step (dataframe grouped by gender)

# Purchase Count
count_purchase_gender = gender_df["Purchase ID"].count()

# Average Purchase Price
avg_price_gender = gender_df["Price"].mean()

# Total Purchase Value
total_price_gender = gender_df["Price"].sum()

# Avg Total Purchase per Person
avg_price_per_person_gender = total_price_gender / count_gender

# Place variables into dataframe and format price numbers
purchase_gender_df = pd.DataFrame({
    "Purchase Count": count_purchase_gender,
    "Average Purchase Price": avg_price_gender.map("${:,.2f}".format),
    "Total Purchase Value": total_price_gender.map("${:,.2f}".format),
    "Avg Total Purchase per Person": avg_price_per_person_gender.map("${:,.2f}".format)
})

# Display dataframe
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

Summary: number of unique players and percentage of total by gender

In [14]:
# Bin values for age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add new column to dataframe with age ranges
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins, labels=age_names, include_lowest=True)

# Group by age ranges
age_df = purchase_df.groupby(["Age Ranges"])

# Count by age range based on unique screen name
count_age = age_df["SN"].nunique()

# Percentage of players based on age
percent_age = (age_df["SN"].nunique() / count_age.sum()) * 100

# New dataframe with summary variables and formatting

summary_age_df = pd.DataFrame({
    "Total Count": count_age,
    "Percentage of Players": percent_age.map("{:.2f}%".format)
})

# Remove index name in the corner
summary_age_df.index.name = None

# Display new dataframe
summary_age_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

Purchasing calculations aggregated by age ranges:
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Avg Total Purchase per Person

In [15]:
# Uses the age_df created in previous step (dataframe grouped by age ranges)

# Purchase Count
count_purchase_age = age_df["Purchase ID"].count()

# Average Purchase Price
avg_price_age = age_df["Price"].mean()

# Total Purchase Value
total_price_age = age_df["Price"].sum()

# Avg Total Purchase per Person
avg_price_per_person_age = total_price_age / count_age

# Place variables into dataframe and format price numbers
purchase_age_df = pd.DataFrame({
    "Purchase Count": count_purchase_age,
    "Average Purchase Price": avg_price_age.map("${:,.2f}".format),
    "Total Purchase Value": total_price_age.map("${:,.2f}".format),
    "Avg Total Purchase per Person": avg_price_per_person_age.map("${:,.2f}".format)
})

# Add index name in the corner
purchase_age_df.index.name = "Age Ranges"

# Display dataframe
purchase_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

Purchasing calculations aggregated by SN to find the top spenders:
* Purchase Count
* Average Purchase Price
* Total Purchase Value (sorted from largest to smallest)

In [17]:
# Group by SN (screen name)
sn_df = purchase_df.groupby(["SN"])

# Purchase Count
count_purchase_sn = sn_df["Purchase ID"].count()

# Average Purchase Price
avg_price_sn = sn_df["Price"].mean()

# Total Purchase Value
total_price_sn = sn_df["Price"].sum()

# Place variables into dataframe and format price numbers
purchase_sn_df = pd.DataFrame({
    "Purchase Count": count_purchase_sn,
    "Average Purchase Price": avg_price_sn,
    "Total Purchase Value": total_price_sn,
})

# Sort by decending values
purchase_sn_df = purchase_sn_df.sort_values("Total Purchase Value", ascending=False)

# Add formatting (will change datatype to string)
purchase_sn_df["Average Purchase Price"] = purchase_sn_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_sn_df["Total Purchase Value"] = purchase_sn_df["Total Purchase Value"].map("${:,.2f}".format)

# Display dataframe (top 5 rows)
purchase_sn_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame